{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for post in posts %}
                 {% if post.status == "published" %}
                    <div class="col-lg-6">
                      <div class="blog-post">
                        <div class="blog-thumb">
                          <img src="{% static 'assets/images/blog-thumb-01.jpg'%}" alt="">
                        </div>
                        <div class="down-content">
                          <span>{{ post.category }}</span>
                          <a href="post-details"><h4>{{ post.title }}</h4></a>
                          <ul class="post-info">
                            <li><a href="#">{{ post.author }}</a></li>
                            <li><a href="#">{{ post.updated_ad }}</a></li>
                            <li><a href="#">0 Comments</a></li>
                          </ul>
                          <p>{{ post.content|slice:"105" }}</p>
                          <div class="post-options">
                            <div class="row">
                              <div class="col-lg-12">
                                <ul class="post-tags">
                                  <li><i class="fa fa-tags"></i></li>
                                  <li><a href="#">Best Templates</a>,</li>
                                  <li><a href="#">TemplateMo</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
               {% endfor %}

</body>
</html>